{% extends "base.html" %}
{% block content%}
{% if entries %}

{% for entry in entries %}

<div class="ctop"></div>
<div class="box">
<div id="post-{{entry.key}}">
<div class="nifty"><h2 style="font-family: Arial, Helvetica, Geneva, sans-serif;
font-size: 28px;"><a href="/blog/{{ entry.link }}" rel="bookmark" class = "titlelink" title="Permanent Link to {{entry.title}}">{{entry.title}}</a>
 </h2></div>
<div style="font-size: 10px;text-transform: uppercase;color: #A6A6A6;">
  <span class="date">{{entry.date|datetz:"F jS, Y"}}</span>
</div>


<div class="en_body">
{{entry.content_excerpt|safe}}
</div>

<div class="meta">{% if entry.strtags %}Tags: {%for tag in entry.tags%}<a href="/blog/tag/{{tag|urlencode}}">{{tag}}</a> {%endfor%}<br><br>{%endif%}  Posted in {%for cate in entry.categories%} <a href="/blog/category/{{cate.slug}}">{{cate.name}}</a> {%endfor%} | {%if self.is_admin%}<a href="/blog{{entry.edit_url}}">Edit</a> | {%endif%}  <a href="/blog/{{entry.link}}#comments">Comments({{entry.commentcount}})&#187;</a></div>
</div>

</div>
<div class="cbottom"></div>
<div class="space"></div>
{% endfor %}

<div class="ctop"></div>
<div class="box">
<div class="alignleft">{% if show_next %}<a href="/blog/page/{{ pageindex|add:"1" }}">&laquo; Older Entries</a>{%endif%}</div>
<div class="aligncenter">
<script type="text/javascript" src="/blog/static/js/pagenavi.js"></script>
<script type="text/javascript">showPageLink("/blog/page/",{{ pageindex }},{{ pagecount }},"");</script>
</div>
<div class="alignright">{% if show_prev %}<a href="/blog/page/{{ pageindex|add:"-1" }}">Newer Entries &raquo;</a>{%endif%}</div>
<div class="clear"></div></div>
<div class="cbottom"></div>
<div class="space"></div>

{% else %}
<div class="ctop"></div>
<div class="box">
<h2>Not Found</h2>
<p>Sorry, but you are looking for something that isn't here.</p>
</div>
<div class="clear"></div>
<div class="cbottom"></div>
<div class="space"></div>


{% endif %}

</div>
{% include "sidebar.html" %}
{% endblock %}


