/* CSS Document */

/* CSS Document */

body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	background:#ffffff;
	width:auto;
	color:#333333;
	font-size:12spx;
	}

h1 {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:14px;
	color:#444444;
	line-height:2px;
	list-style-position:inside;
	font-weight:lighter;
}

h2 {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:28px;
	color:#333333;
	font-weight:lighter;
	margin-top:0px;
}

h3 {
	font-size:10px;
	font-weight:lighter;
}

h4 {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:18px;
	color:#333333;

}

h5 {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:15px;
	color:#333333;
	}

a {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	text-decoration: underline;
	color:#333333;
}


td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

#page {
	width:auto;
	height:800px;
	background:#fff;

}

img {
border: none;
margin:-3px -3px 0 -1px;

}

img.floatLeft { 
    float: left; 
    margin: 4px; 
}



#header_home {
	width:800px;
	height:185px;
	margin:auto;
	background: no-repeat url(./imgs/sketchPatchHome_header01.png);
}



#header {
	width:800px;
	height:85px;
	margin:auto;
	background: no-repeat url(./imgs/sketchPatch_header01.png);
}


#headerPageText {
	height:auto;
	float:right;
	text-align:right;
	width:200px;
	font-size:16px;
	margin:50px 93px 0px 0px;
	background:#fff;

}

#menu {
	

color:#333333;
float:left;
font-size:14px;
height:23px;
line-height:23px;
margin:25px 0 0;
width:250px;

}

#menu a{
	text-decoration:none;
	
}

#menu a:hover {
	color:#BD0074;
}

#homemenu {
	
background:#fff;
color:#333333;
float:left;
font-size:14px;
height:23px;
line-height:26px;
margin:5px 0 0;
width:250px;

}

#homemenu a{
	text-decoration:none;
	
}

#homemenu a:hover {
	color:#BD0074;
}

/*
ul.menu {
	color:#fff;
	padding:0px;
	margin:0px;
}

ul.menu li {
	float:left;
	margin:3px 0 8px 24px;
	padding:1px;

}

*/


#content {
	height:auto;
	margin:20px auto;
	padding:3px 0;
	width:800px;
	color: #333333;
	font-size:12px;
	background:#000;
}



#contentleft {
	width:390px;
	height:auto;
	background:#fff;
	float:left;
	padding:0px;


}

#contentright {
	width:390px;
	height:auto;
	float:left;
	background:#fff;
	padding:0px;
}

#footer {
	width:800px;
	height:100px;
	clear:both;
	padding-top:100px;
	font-size:12px;
}

/*///////////// HOME PAGE ///////////*/

#picturegrid {
	height:auto;
	width:800px;
	margin:0;
	background:#fff;
	clear:both;
	
}


#favTextImage {
	height:150px;
	width:150px;
	margin:0px 0px 0px 300px;
	clear:both;
	
}
	



/*////////////featured artist on home page/////////////////*/


#pictureFA {
	height:200px;
	width:760px;
	background:#fff;
	z-index:1;
	clear:both;
	
	
	
	
}

ul.FA {
	padding:0px;
	margin:0px;
	-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

ul.FA li { 
    float: left;
    margin:0px;
	list-style: none;
	padding: 2px; background: transparent ("image") no-repeat x y;
	-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}


#FAtext {
	
	font-size:12px;
	width:120px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	opacity: 0.85;
	-khtml-opacity: 0.85;
	padding:0px;
	height:173px;
	margin:-5px 0px 0px 0px;
}






/*////////////6 favourate on home page/////////////////*/

#pictureFAV {
	height:125px;
	width:760px;
	margin:0px;
	clear:both;
	
}

#FAVtext {
	font-size:12px;
	width:91px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=75); 
	-moz-opacity:0.75;
	padding:6px;
	height:100px;
	margin:-3px;
	
}

ul.FAV {
	padding:0px;
	margin:0px;
}


ul.FAV li { 
    float: left;
    margin:0px;
	list-style: none;
	padding: 0px; 
	background: transparent ("image") no-repeat x y;
	margin:0 0 -3px 0px;
	
}






/*//////////// 6 recent on home page/////////////////*/

#recentPic_block{
	height:150;
	width:760px;
	clear:both;
	overflow:hidden;
}

#picture_recent {
	height:50px;
	width:50px;
	margin:0px;
	float:left;
	clear:both;
}

#recentText {
	font-size:12px;
	width:91px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	opacity: 0.85;
	-khtml-opacity: 0.85;
	padding:4px;
	height:100px;
	font-weight:bold;
}

ul.recent {
	padding:0px;
	margin:0px;
}

ul.recent li { 
    float: left;
    margin:0px;
	list-style: none;
	padding: 2px; background: transparent ("image") no-repeat x y;
}


/*//////////// more boxes on home page/////////////////*/



.moreFAlink {
	
	font-size:16px;
	font-weight:bold;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	opacity: 0.85;
	-khtml-opacity: 0.85;
	height:105px;
	margin:-3px 0px 0px 720px;
	padding:70px 0 0 9px;
}

.moreFAlink a:hover {
	color:#BD0074;
	
}

.moreFAlink a {
	text-decoration:none;
}

.moreFAVlink {
	
	font-size:16px;
	font-weight:bold;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	opacity: 0.85;
	-khtml-opacity: 0.85;
	height:100px;
	margin:-3px 0px 0px 720px;
	padding:39px 0 0 9px;
}

.moreFAVlink a:hover {
	color:#BD0074;
	text-decoration:none;
}

.moreFAVlink a {
	text-decoration:none;
}

.moreRecentlink {
	
	font-size:16px;
	font-weight:bold;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	opacity: 0.85;
	-khtml-opacity: 0.85;
	margin:-3px 0px 0px 720px;
	padding:39px 0 0 9px;
	height:165px;
	
	
}

.moreRecentlink a:hover {
	color:#BD0074;
	text-decoration:none;
}

.moreRecentlink a {
	text-decoration:none;
}


/*//////////// BUBBLES /////////////////*/



#tooltip.pretty {
	font-family:Verdana, Geneva, Arial, helvetica, sans-serif;
	border: none;
	width: 125px;
	height: 40px;
	opacity: 0.8;
	background: no-repeat url('./imgs/shadow.png') ;
	padding:10px;
	text-align:center;
	
}

#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	margin-top: 2px;
	font-size: 10px;
	width: 125px;
	text-align: center;
	color:#333333;
}
#tooltip.pretty div { width: 20px; text-align: left; }


/* remember to define focus styles! */

/*
:focus {
	outline: 0;
}

*/

/*//////////// gallery pages /////////////////*/

#gallerycontent {
	width:800px;
	height: 500px;

}

#sketchBox {
	
	padding:3px;
	font-size:10px;
	border:none;
	float:left;
	z-index:1;
}

#sketchBox p {
	margin:2px;
	z-index:1;
}

.sketchBoximage { 
    float: left; 
    margin: 4px; 
	margin-bottom:10px;
	z-index:1;
}


.infotextbox {
	width:auto;
	height:50px;
}

.galleryinfotext {
	width:auto;
	float:left;
	font-size:10px;
	border:none;
}


#gallerypagination {
	width: auto;
	margin:0px 0px 0px 600px;
	clear:both;
	text-decoration:none;
	padding:100px 0;
}

#gallerypagination a{
	text-decoration:none;

}

.lock {
	
	font-weight:bold;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	height:20px;
	margin:5px;
	padding:5px 0 0 5px;

}



/*//////////// edit/view sketch pages /////////////////*/

#viewpagecontent{
	width:800px;
	height:auto;

}


#sketchWindow {
	width:auto;
	height:auto;
	margin-bottom:10px;

}

#sketchWindowIcons{
		width:auto;
		height:70px;

}

.sketchWindowIcons {
	margin:10px 0px;
	float:left;
	text-align:center;
	margin-right:10px;
}

.sketchWindowIcons a{
	text-decoration:none;
	
}

#sketchCode {
	width:390px;
	height:auto;
	background:#fff;
	float:right;
	padding:5px;	

}

#sketchComments{
	width:390px;
	height:auto;
	float:left;
	background:#fff;
	padding:5px;
}

#addcomment{
	width:370px;
	height:150px;
	background:#ffffff;
	padding:5px;	

}

#commentIcons {
	width:380;
	height:auto;
	float:left;
	clear:right;
}

#commentIcons a{
	text-decoration:none;
	
}

#info{
	width:380px;
	height:auto;
	background:#fff;
	padding:5px;
}

#usercomments {
	width:380px;
	height:auto;
	background:#fff;
	padding:5px;
}

.usercomments{
	width:380px;
	height:auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#tags {
	width:auto;
	height:auto;
	margin-top:50px;
}

/*//////////// new sketch info forms /////////////////*/


#newsketchCode{
	height:430px;
	padding:5px;
	width:350px;
	}


.newsketchcodeform {
	
	height:430px;
padding:5px;
width:350px;
	

}


.titleform{

	width:auto;
	height:auto;

	
}

#authorform{

	width:200px;
	height:30px;
	outline-color:#333333;
	outline-style:solid;
	outline-width:thin;
	margin:0 80px;

}

#tagform{

	width:200px;
	height:30px;
	outline-color:#333333;
	outline-style:solid;
	outline-width:thin;
	margin:0 80px;
}

.FORMtextdiv {
	
height:5px;

}

.authorcomment {
	width:350px;
	height:115px;

}

.yourcommentsetxt {
	width:auto; 
	height:auto;
	clear:both;
	margin:0px;

}

form {
	
	width:150px;
/*	margin:0 90px;  */
/*	width:150px;	*/
/*	height:10px;	*/
}

input {
	
	width:150px;
	margin:0 90px;
	width:200px;
}

/*//////////// comments page /////////////////*/


#pagination {
	width: auto;
	margin:0px 0px 0px 600px;
	clear:both;
	text-decoration:none;
	padding:100px 0;
}

.commentsPageBox{
	height:auto;
	margin:10px 0px 10px 0px;
	width:500px;

}
.commentTextBox { 
    margin: 0px 0px 100px 0px; 
	z-index:1;
	
}



.avitar { 
  
	float:left;
	height:70px;
	margin:0 0 10px 0;
	width:70px;
	padding:0 20px 70px 0;
}

/*//////////// featured artists own html page /////////////////*/

#FA_own_content {
	width:auto;
	height:auto;
	padding:5px;
	clear:both;
	
	}
	
#FA_own_contentLEFT{
	height:auto;
	width:385px;
	float:left;
	padding:5px;
	}

#FA_own_contentRIGHT {
	height:auto;
	width:385px;
	float:left;
	padding:5px;
	}


.FA_sP_content_box {
	width:auto;
	height:auto;
	padding:5px;
	clear:both;

	}

.FA_sP_contentLeft {
	height:auto;
	width:385px;
	float:left;
	padding:5px;
	

	}


.FA_sP_contentRight {
	height:auto;
	width:385px;
	float:left;
	padding:5px;
	
	}


/*//////////// all the boxy css copies to this file /////////////////*/
