/* CSS Document */

/* CSS Document */

/* CSS Document */

body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	background:#fff;
	width:auto;
	color:#333399;
	}

h1 {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size:14px;
	color:#333399;
	line-height:2px;
	list-style-position:inside;
}

a {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	text-decoration:none;
	color:#333333;
}


td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

#page {
	width:auto;
	height:800px;
	background:#fff;

}

img {
border: none;
margin:-2px;
}


#header {
	width:800px;
	height:185px;
	margin:auto;
	background: no-repeat url(./imgs/sPheader.jpg);
}



#menu {
	

color:#333333;
font-size:14px;
height:25px;
margin:10px 0 0 0px;
width:250px;
float:left;
text-decoration:none
}


ul.menu {
	color:#fff;
	padding:0px;
	margin:0px;
}

ul.menu li {
	float:left;
	margin:3px 0 8px 24px;
	padding:1px;

}

#content {
	height:auto;
	margin:40px auto;
	padding:3px 0;
	width:800px;
	color: #333333;
	font-size:12px;
}


#sidebarleft {
	height:auto;
	float:left;
	margin:0;
	text-align:left;
	width:100px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;


}

#contentright {

	height:auto;
	margin:0 0 0 10px;
	
	text-align:right;
	float:left;
	width:200px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	background: #FFFFFF none repeat scroll 0 0;

}

#how2text{
	background: yellow;
	color:green;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	background: #FFFFFF none repeat scroll 0 0;

}

#picturegrid {
	height:auto;
	width:800px;
	margin:0;
	background:#fff;
	clear:both;
	
}


#favTextImage {
	height:150px;
	width:150px;
	margin:0px 0px 0px 300px;
	clear:both;
	
}
	



/*////////////featured artist/////////////////*/


#pictureFA {
	height:200px;
	width:800px;
	background:#fff;
	z-index:1;
	clear:both;
	
	
	
	
}

ul.FA {
	padding:0px;
	margin:0px;
	-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}

ul.FA li { 
    float: left;
    margint:0px;
	list-style: none;
	padding: 2px; backgroud: transparent ("image") no-repeat x y;
	-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
}


#FAtext {
	
	font-size:12px;
	width:120px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=75); 
	-moz-opacity:0.75;
	padding:4px;
	height:165px;
}






/*////////////6 favourate /////////////////*/

#pictureFAV {
	height:125px;
	width:800px;
	margin:0px;
	clear:both;
	
}

#FAVtext {
	font-size:12px;
	width:120px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=75); 
	-moz-opacity:0.75;
	padding:4px;
	height:110px;
	
}

ul.FAV {
	padding:0px;
	margin:0px;
}


ul.FAV li { 
    float: left;
    margint:0px;
	list-style: none;
	padding: 0px; 
	backgroud: transparent ("image") no-repeat x y;
	margin:0 0 -3px 0px;
	
}






/*//////////// 6 recent /////////////////*/

#recentPic_block{
	height:150;
	width:800px;
	clear:both;
	overflow:hidden;
}

#picture_recent {
	height:50px;
	width:50px;
	margin:0px;
	float:left;
	clear:both;
}

#recentText {
	font-size:12px;
	width:120px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=75); 
	-moz-opacity:0.75;
	padding:4px;
	height:165px;
	
}

ul.recent {
	padding:0px;
	margin:0px;
}

ul.recent li { 
    float: left;
    margint:0px;
	list-style: none;
	padding: 2px; backgroud: transparent ("image") no-repeat x y;
}


/*//////////// more boxes /////////////////*/



.moreFAlink {
	
	font-size:14px;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	padding:4px;
	height:165px;
}

.moreFAVlink {
	
	font-size:16px;
	font-weight:bold;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	height:100px;
	margin:0px 0px 0px 760px;
	padding:50px 0 0 9px;
}

.moreRecentlink {
	
	font-size:14px;
	font-weight:bold;
	width:20px;
	position:absolute; 
	background-color:white; 
	z-index:2;
	filter:alpha(opacity=85); 
	-moz-opacity:0.85;
	margin:0px 0px 0px 760px;
	padding:50px 0 0 9px;
	height:165px;
	
	
}

/*//////////// BUBBLES /////////////////*/

.bubbleInfo {
    position: relative;
	width:900px;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
	font-size:10px;
	width:150px;
	background-image:url(imgs/sP_logox200.png);

}

#tooltip.pretty {
	font-family:Verdana, Geneva, Arial, helvetica, sans-serif;
	border: none;
	width: 110px;
	height: 90px;
	opacity: 0.8;
	background: no-repeat url('imgs/shadow.png') ;
	padding:10px;
	
}

#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size: 10px;
	width: 100px;
	text-align: left;
	color:#333333;
}
#tooltip.pretty div { width: 20px; text-align: left; }


/* remember to define focus styles! */
:focus {
	outline: 0;
}










