<fieldset id="admin_system">
    <legend>System configuration</legend>
    <div class="fieldsetdiv">
    <form method=post id="configForm" name="configForm">
    <table cellspacing="0" class="yui-skin-sam" id="configuration">
        <tr>
            <th><label for="title">Blog Title:</label></th>
            <td>
              <input id="title"  name="title" size="30" type="text" value="{{BLOG.title}}" />
            </td>
        </tr>
        <tr>
            <th><label for="author">Author:</label></th>
            <td>
                <input id="author"  name="author" size="15" type="text" value="{{BLOG.author}}" />
                  </td>
        </tr>
        <tr>
            <th><label>Email:</label></th>
            <td> <i><b>{{user.email}}</b></i> <img src="{{user_gravatar_url}}" style="width:16px;height:16px">
                <p><small>If you see a <img src="/img/anonymous-16.jpg" style="width:8px;height:8px"> above it means you either don't have a Gravatar for that email
                   address or it is not rated G. <a target="_blank" href="http://site.gravatar.com/">Get one for free at gravatar.com</a>.</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="description">Blog Description:</label></th>
            <td><input id="description" name="description" size="60" type="text" value="{{BLOG.description}}" /> </td>
        </tr>
        <tr>
            <th><label for="root_url">Root URL:</label></th>
            <td>
                <input id="root_url" name="root_url" size="30" type="text" value="{{BLOG.root_url}}" />
            </td>
        </tr>
        <tr>
            <th><label for="num_post_per_page">Posts num per page:</label></th>
            <td>
                <input id="num_post_per_page" name="num_post_per_page" maxlength="15" size="15" type="text" value="{{BLOG.num_post_per_page}}" />
                <p><small>This number is used for the pagination.</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="cache_time">Page Cache Time:</label></th>
            <td>
                <input id="cache_time" name="cache_time" maxlength="15" size="15" type="text" value="{{BLOG.cache_time}}" />
                <p><small>Be careful! This value will make your page unchanging for the specified time.</small></p>
            </td>
        </tr>
        <tr>
            <th><label for="debug">Debug Mode:</label></th>
            <td>
                <input id="debug" name="debug" type="checkbox" {% if BLOG.debug %} checked {% endif %}/>
                <p><small>You can get more detailed log info in appengine when enable debug mode.</small></p>
            </td>
        </tr>
        <tr>
            <th> </th>
            <td><input name="commit" type="button" value="Save" onclick="saveConfiguration()"/></td>
        </tr>
    </table>
    </form>
    </div>
</fieldset>
