<fieldset>
    <legend>Pages Admin</legend>
    <div class="fieldsetdiv">
        Page List:
        <table id="pagetable">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Permalink</th>
                <th> &nbsp;</th>
            </tr>
            {% for entry in pages %}
            <tr>
                <td>{{entry.title}}</td>
                <td>{{entry.author.email}}</td>
                <td>{{entry.date|date:"m/d/y"}}</td>
                <td>
                    <a href="{{entry.full_permalink}}" target="_blank">{{entry.full_permalink}}</a>
                </td>
                <td>
                    <a href='/edit/blog/{{entry.key.id}}' target="_blank">edit</a> &nbsp;
                    <a href='/delete/blog/{{entry.key.id}}' target="_blank">delete</a>
                </td>
            </tr>
            {% endfor%}
        </table>
    </div>
</fieldset>

