{% extends "main.html" %}
{% block title %}{{title}}{% endblock %}
{% block blog %}
    <div id=bloglist>
    {% if page %}
      {% for blog in page.object_list %}
        <H2 class=date-header> {{blog.date|date:"l, F d, Y"}} </H2>
        <DIV class="post">
        <H3 class=post-title>
            <a href="/{{blog.relative_permalink}}">{{blog.title}}</a>
        </H3>
        <DIV class=post-body>
         {{blog.content}}
         </DIV>
          {% if blog.tags %}
            <p>
                Tags:
                {% for tag in blog.tags %}
                <a href="/tag/{{ tag|unquote }}">{{ tag|unquote }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </p><br>
            {% endif %}
        <H4 class=byline> Posted by {{blog.authorNickname}} at 
           <A  class=timestamp-link href="/{{blog.relative_permalink}}">{{blog.date|date:"H:i A"}}</A>
                     {% if blog.weblogreactions_set.count %}
                    <A class=comment-link href="/{{blog.relative_permalink}}#reactions">{{blog.weblogreactions_set.count}} comments</A>
                    {% else %}<A class=comment-link href="/{{blog.relative_permalink}}#addreaction">no comments</A>{% endif %}
        </H4>
        </DIV>
        {% endfor %}
    {% else %}
       <div>
       No articles!
       </div>
    {% endif %}
    {% include "paginator.html" %}
    </div>
{% endblock %}

