{% extends "main.html" %}

{% block title %}{{title}} - Delete item{% endblock %}

{% block blogcontainer %}
<div class="yui-g">
<div id="blogview">
    <h4>
        {% ifequal action "deleteBlog" %}
        Delete item
        {% endifequal %}
        {% ifequal action "deleteBlogReaction" %}
        Delete reaction
        {% endifequal %}
    </h4>
       <div>
         {% ifequal action "deleteBlog" %}
            Delete item <b>{{sketch.title}}</b> and all of it's comments? 
        {% endifequal %}
        {% ifequal action "deleteBlogReaction" %}
            {% if reaction.author%}
                {% ifequal reaction.author reaction.wesketch.author%}
               <div class='author comment'>
                {% else %}
               <div class='comment'>
                {% endifequal %}
            {% else %}
           <div class='comment'>
             {% endif %}
              <p> {% if reaction.authorWebsite %}
                  <a href="{{reaction.authorWebsite}}">
                 {% endif%}
                <b>{{reaction.user}}</b>
                 {% if reaction.authorWebsite %}
                  </a>
                 {% endif%}
                {{reaction.date|date:"Y-m-d H:i"}}
                &nbsp;&nbsp;
                {% ifnotequal reaction.userIp Null %}
                <i><b>IP Address</b>:{{reaction.userIp}}</i>
                {% endifnotequal %}
              </p>
             <DIV class=post-body>
                <p>{{reaction.content}}</p>
            </DIV>
            </div>
               {% endifequal %}
        <br><br>
        </div>
    <form method=post>
        {% if blog %} <input name="permalink" type="hidden" value="{{sketch.permalink}}">{% endif %}

        {% if reaction %}
        <input name="blogReactionId" type="hidden" value="{{reaction.key.id}}">
        {% endif %}

     <input type=submit value=delete>
     <input type=hidden name="submitted" value=1>
    </form>
</div>
</div>
{% endblock %}
