<DIV id=sidebar>
    {% block webloglist %}
    {% endblock %}
    {% block loginmenu %}
    <DIV id=login>
        <div id="gravatar">
        <img src="{{user_gravatar_url}}"> Nick:{{usernickname}} Mail:{{useremail}} welcome back!
        </div>
        <UL>
                {% if usersiscurrentuseradmin %}
            <LI><a href='/create/page' onclick="this.blur()">Admin/Add New Page</a>
            <LI><a href='/admin' onclick="this.blur()">Admin/System Configuration</a>
                {% endif %}
        </UL>
    </DIV>
    {% endblock %}
</DIV>
